@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body,html {
    width: 100%;
    height: 100%;
}

.main-container {
    max-width: 1800px;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem 10%;
    background: #F5F5FA;
}

.main-container h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
    text-align: center;
}

.paragraph {
    color: #848199;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.btn-sec {
    display: flex;
    overflow: hidden;
    background: #fff;
    border-radius: 25px;
}

.btn-sec button {
    width: 120px;
    padding: 16px 5px;
    background: none;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 800;
    border-radius: 25px;
}

.btn-sec button:first-child {
    color: #F496D1;
    background: #5243C2;
}

.btn-sec button:last-child {
    color: #848199;
}

.packages-sec {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 45px;
    gap: 20px;
}

.package {
    width: 280px;
    background: #fff;
    padding: 35px 24px 30px 24px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #93939338;
    position: relative;
}

.package h2 {
    font-size: 36px;
    font-weight: 800;
    color: #231D4F;
    margin-bottom: 12px;
}

.package h2 span {
    font-size: 17px;
    font-weight: 400;
    color: #848199;
    margin-left: 5px;
}

.package h3 {
    font-size: 25px;
    color: #231D4F;
    font-weight: 800;
    margin-bottom: 7px;
}

.package p {
    color: #848199;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.package ul {
    list-style-type: none;
    margin-bottom: 25px;
}

.package ul li {
    margin: 15px 0;
    font-size: 15px;
    color: #848199;
    font-weight: 500;
    padding-left: 35px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.package ul li::before {
    content: '';
    width: 23px;
    height: 23px;
    background: url(./images/check.png);
    background-size: 100% 100%;
    position: absolute;
    left: 0;
}

.package button {
    width: 100%;
    border: none;
    outline: none;
    background: #FEF5FA;
    color: #F496D1;
    padding: 12px 5px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 40px;
}

.popular {
    background: #5243C2;
}

.popular h2,.popular h2 span, .popular h3,.popular p,.popular ul li {
    color: #fff;
}

.popular button {
    background: #F496D1;
    color: #5243C2;
}

.popular ul li::before {
    background: url(./images/popular-check.png);
    background-size: 100% 100%;
}

.popular .mpopular {
    text-transform: uppercase;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0.8px;
    color: #F496D1;
    background: #4031B3;
    padding: 8px 17px;
    border-radius: 20px;
}

@media(max-width:750px) {
    .main-container {
        padding: 2rem 5%;
    }
    .main-container h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .paragraph {
        font-size: 15px;
        margin-bottom: 25px;
    }
    .btn-sec button {
        width: 80px;
        padding: 12px 5px;
        font-size: 10px;
    }
}

@media(max-width:400px) {
    .package {
        width: 100%;
    }
}